
<p>.myImage {
  background-image: url("falls.jpeg");
}
 <p/>

<p>.myImage {
  background-image: url("glass.jpg");
}
<p>
<p>.myImage {
  background-image: url("Seattle-Space-Needle_GettyImages-180262211.jpg");
}<p/>


<p>.myImage {
  background-image: url("sammamish.jpg");
}<p/>